Source: planet-venus
Section: python
Priority: extra
Maintainer: Noah Slater <nslater@tumbolia.org>
Uploaders: Python Applications Packaging Team <python-apps-team@lists.alioth.debian.org>
Standards-Version: 3.8.3
Build-Depends: cdbs (>= 0.4.42), debhelper (>= 7.2.11)
Build-Depends-Indep: help2man, python-support (>= 0.6.4), python
Homepage: http://www.intertwingly.net/code/venus/
Vcs-Svn: svn://anonscm.debian.org/python-apps/packages/planet-venus/trunk/
Vcs-Browser: http://anonscm.debian.org/viewvc/python-apps/packages/planet-venus/trunk/

Package: planet-venus
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-chardet, python-html5lib,
 python-htmltmpl, python-httplib2, python-librdf, python-libxml2,
 python-utidylib
Recommends: python-libxslt1, python-beautifulsoup
Suggests: python-django, python-genshi, python-lxml
Conflicts: drscheme, plt-scheme, planet
Description: aggregate feed generator
 Planet Venus downloads news feeds published by web sites and
 aggregates their content together into a single combined feed, latest
 news first.
 .
 Planet Venus is a refactoring of Planet, also available in Debian.
