#!/usr/bin/make -f

# This file is part of the planet-venus package.

# Copyright (C) 2007 Noah Slater <nslater@bytesexual.org>.

# Copying and distribution of this file, with or without modification, are
# permitted in any medium without royalty provided the copyright notice and this
# notice are preserved.

# Makefile used by dpkg-buildpackage to create a deb file.

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

DEB_COMPRESS_EXCLUDE = .png .svg

clean::
	rm -rf diveintomark_20080214
	rm -rf diveintomark_20080214.tar.gz

# XXX: The bundled feedparser.py is a pre-release version so we can't depend on
# XXX: the standard packaged version. The other three bundled modules might be
# XXX: nice as external packages, one day.

common-install-prehook-impl::
	cp -R docs debian/planet-venus/usr/share/doc/planet-venus/html
	cp -R examples debian/planet-venus/usr/share/planet-venus/example
	chmod 755 debian/planet-venus/usr/share/planet-venus/example/filters/guess-language/guess-language.py
	chmod 755 debian/planet-venus/usr/share/planet-venus/example/filters/guess-language/trigram.py
	cp -R filters debian/planet-venus/usr/share/planet-venus/filter
	cp -R planet.py debian/planet-venus/usr/bin/planet
	cp -R themes debian/planet-venus/usr/share/planet-venus/theme
	cp -R planet debian/planet-venus/usr/share/python-support/planet-venus
	rm -r debian/planet-venus/usr/share/python-support/planet-venus/planet/vendor/htmltmpl.py
	rm -r debian/planet-venus/usr/share/python-support/planet-venus/planet/vendor/html5lib
	rm -r debian/planet-venus/usr/share/python-support/planet-venus/planet/vendor/httplib2
	uudecode debian/theme/diveintomark_20080214.tar.gz.uu
	tar -xvzf diveintomark_20080214.tar.gz
	rm diveintomark_20080214/LICENCE
	patch -p1 < debian/theme/diveintomark_20080214.patch
	cp -R diveintomark_20080214 \
	debian/planet-venus/usr/share/planet-venus/theme/diveintomark
	cp -R debian/planet.ini \
	debian/planet-venus/usr/share/planet-venus/example/debian.ini
	cp debian/binary.lintian-overrides \
        debian/planet-venus/usr/share/lintian/overrides/planet-venus
	cp debian/linda-overrides \
	debian/planet-venus/usr/share/linda/overrides/planet-venus
	help2man --no-info --name="Planet Venus aggregate feed generator" \
	./planet.py > planet.1

binary-install/planet-venus::
	dh_pysupport -pplanet-venus -X example -X filter
